@import url('https://fonts.cdnfonts.com/css/open-sans');
@import url('https://fonts.cdnfonts.com/css/dirty-headline-2');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  color: #3C3C43;
}

/* To remove arrow/spinners in number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

div.pwd path {
  color: #3E4095;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

@media (max-height: 659px) {
  a#ridersLink {
    position: relative;
    margin: 7rem 0.5vh 0;
  }
}

.brandName {
  font-family: 'Dirty Headline', sans-serif;
}

#desktopMenu:hover #menuIcon {
  transform: rotate(45deg);
}

.notification-icon {
  filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(93deg) brightness(108%) contrast(102%);
}

.packageSize>* {
  color: #A7A7A7;
}

.packageSize.active {
  outline: 2px solid #3E4095;
  background-color: white;
  transition: .3s;
}

.packageSize.active>* {
  color: #3E4095;
}

div.gm-style div:nth-child(15) a {
  display: none !important;
}

div.gmnoprint,
div.gm-style-cc {
  display: none;
}

div.pac-container {
  overflow-y: auto;
  height: 175px;
}

div.pac-container.pac-logo::after {
  display: none;
}

div.pac-item {
  padding: 5px 10px;
  cursor: pointer;
}

/* .pac-logo {
  padding: 10px 0;
} */
.pac-icon.pac-icon-marker {
  background-image: url('./assets/svgs/location-pin.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  padding-left: 0px;
}

.pac-item .pac-item-query {
  font-size: medium;
  color: #3C3C43;
}

.pac-item-query .pac-matched {
  font-weight: 800 !important;
  font-size: medium;
  color: #3C3C43;
}

.pac-item span:nth-child(3) {
  display: block;
  margin-top: -2px;
  padding-left: 20px;
  font-size: small;
  color: #A7A7A7;
}

/* OTP styling */
input[aria-label="Please enter verification code. Character 1"],
input[aria-label="Character 2"],
input[aria-label="Character 3"],
input[aria-label="Character 4"] {
  width: 40px !important;
  height: 40px !important;
  border: 1px solid #3C3C43;
  margin: 0 5px;
}

input[aria-label="Please enter verification code. Character 1"]:focus,
input[aria-label="Character 2"]:focus,
input[aria-label="Character 3"]:focus,
input[aria-label="Character 4"]:focus {
  outline: 2px solid #3E4095;
  border: none;
}


/* Spinner styles (DON'T MODIFY) */
.lds-dual-ring {
  display: inline-block;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  border-radius: 50%;
  border: solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}